body, html{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-size: 10px;
    font-family: 'Roboto', sans-serif;
    background-color: #1b2431;
}

button{
    color: #000000;
    margin: 25px 20px;
    padding: 10px 20px;
    background:transparent;
    border: 1.8px solid #000000;
    border-radius: 20px;
    outline: none;
    cursor: pointer;
}
button{
    color:#fff;
    margin: 25px 20px;
    padding: 10px 20px;
    background:transparent;
    border: 2px solid #fff;
    border-radius: 20px;
    outline: none;
    cursor: pointer;
}

h3{
    margin: 25px 20px;
    padding: 10px 20px;
    background:transparent;
    border: 2
    px solid #000000;
    border-radius: 20px;
    outline: none;
    cursor: pointer;
}

.page{
    width: 100%;
    display: grid;
    grid-template-rows: 7rem 80vh 20rem;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: "header header header header header" "main main main main ." "footer footer footer footer footer";
}



header{
    grid-area: header;
    background-color: #ff6e48;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1{
    display: inline-block;
    width: auto;
    padding: 0;
    margin: 0 0 0 3rem;
    color: #fff;
}

nav{
    font-size: 1.6rem;
    color: #fff;
    margin: 0 3rem 0 0;
}

a{
    color: #fff;
}


menuitem{ 
margin: 0 0 0 0.5rem;
}

.main{
    grid-area: main;
    display: flex;
}

.register{
    margin: 10rem 0 0 10rem;
}

h2{
    font-size: 2rem;
    color: #fff;
}

p{
    font-size: 2rem;
    color: #fff;
}       

.footer{
    grid-area: footer;
    background-color: #ff6e48;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer_writing{
    margin: 0;
    padding: 0;
    font-size: 2.2rem;
    color: #000000;
    text-align: center;
    width: 80%;
    display: inline-block;
}


.responsive{
    width:100%;
    height:auto;
}
.eventclass{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(150px, auto);
    grid-gap: 10px;
    max-width: 960px;
    margin: 0 auto;
    align-items: start;
}

@media screen and(max-width=600px){
    h1{
        font-size: 36px;
        line-height: 50px;
    }
    p{
        font-size: 20px;
        padding: 20px 10px;
    }
}

@media screen and(max-width=900px) and (min-width=600px){
    h1{
        font-size: 50px;
        line-height: 65px;
    }
    p{
        font-size: 30px;
        padding: 25px 15px;
    }
}

.slider{
    width: 800px;
    height: 500px;
    border-radius: 10px;
    overflow: hidden;
}

.slides{
    width:500%;
    height:500px;
    display: flex;
}

.slides input{
    display:none;
}

.slide{
    width:20%;
    transition:2s;
}

.slide img{
    height:500px;
    width: 800px;
}

#radio1:checked ~ .first{
    margin-left: 0;
}
#radio2:checked ~ .first{
    margin-left: -20%;
}
#radio3:checked ~ .first{
    margin-left: -40%;
}
#radio4:checked ~ .first{
    margin-left: -60%;
}

.navigation-auto{
    position: absolute;
    display:flex;
    width: 800px;
    justify-content: center;
    margin-top: 460px;
}
.navigation-auto div{
    border: 2px solid #ff6e48;
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
}

.navigation-auto div:not(:last-child){
    margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1{
    background: #ff6e48;
}
#radio2:checked ~ .navigation-auto .auto-btn2{
    background: #ff6e48;
}
#radio3:checked ~ .navigation-auto .auto-btn3{
    background: #ff6e48;
}
#radio4:checked ~ .navigation-auto .auto-btn4{
    background: #ff6e48;
}